/* ------------------------------------------------------------------------------------------- */
#footBox {
  position: relative; left: 50%;
  width: 100%; height: 32.125rem;
  background-color: #505050;
  transform: translateX(-50%);
}
.footer_upper_list {
  width: 1260px; height: 40px;
  margin: auto; margin-bottom: 20px;
  padding-top: 44px;
  border-bottom: 1px solid #fff;
}

/* 푸터 판도라 서브 로고 영역 ---------------------------------------- */
.footer_upper_list h2 {
  float: right;
  width: 140px; height: 100%;
}

/* 푸터 네비게이션 바 ------------------------------------------------ */
.fnb {
  float: left;
  width: 542px; height: 100%;
}
.fnb ul {
  width: 100%; height: 100%;
}
.fnb li {
  float: left;
  width: auto; height: 100%;
  margin-right: 77px;
  line-height: 40px; color: #fff;
}
.fnb li:last-child { margin-right: 0; }
.fnb li a {
  display: block;
  width: 100%; height: 100%;
}

/* 회사 정보 영역란 =========================================================================== */
.info_area {
  width: 1260px; height: 110px;
  margin: auto;
}
.info_area p {
  width: 100%; height: 66px;
  margin-bottom: 9px;
  font-size: 15px; line-height: 22px;
  font-weight: 100;
  color: #fff;
}
.info_area dl {
  width: 196px; height: 30px;
  font-size: 20px; line-height: 30px;
  color: #fff;
}
.info_area dl dt {
  float: left;
}
.info_area dl dd {
  float: right;
}

/* 푸터 중간 영역 리스트 ========================================================================= */
.footer_middle_area {
  width: 1262px; height: 88px;
  margin: auto; margin-top: 74px;
  margin-bottom: 67px;
}
.footer_middle_area div {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.footer_middle_area ul {
  width: 100%; height: 100%;
  padding-top: 8px; box-sizing: border-box;
}
.footer_middle_area li {
  float: left;
  margin-right: 0;
}
.footer_middle_area li h3 {
  width: auto; height: 28px;
  font-size: 20px; font-family: 'Abril Fatface', cursive;
  line-height: 28px; letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
/* sns area part ------------------------------------------------------- */
.pandora_icon {
  float: left;
  width: 52px; height: 68px;
  margin-right: 30px; margin-top: 8px;
  background-image: url(../../img/footbox/pandora_icon.png);
}
.sns_area {
  width: 388px; height: 100%;
  border-right: 1px solid #fff;
}
.sns_list {
  width: 220px; height: 38px;
}
.sns_list li {
  width: 38px; height: 38px;
  margin-right: 22px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.sns_list li a {
  display: block;
  width: 100%; height: 100%;
}
.sns_list li:nth-child(1) { background-image: url(../../img/footbox/facebook.png); }
.sns_list li:nth-child(2) { background-image: url(../../img/footbox/youtube.png); }
.sns_list li:nth-child(3) { background-image: url(../../img/footbox/pinterest.png); }
.sns_list li:nth-child(4) { margin-right: 0; background-image: url(../../img/footbox/instagram.png); }

.sns_list li:hover { transform: scale(120%); }

/* change location area ----------------------------------------------------------------- */
.change_location_area {
  width: 400px; height: 100%;
  margin-left: 87px;
  border-right: 1px solid #fff;
}
.map_icon {
  float: left; 
  width: 60px; height: 38px;
  margin-top: 18px; margin-right: 20px;
  background-image: url('../../img/footbox/map_icon.png');
}
.change_location {
  float: left;
  width: 232px; height: 38px;
}
.change_location a {
  display: block; position: relative;
  width: 100%; height: 100%;
  margin-top: 7px;
  border-radius: 5px;
  background-color: #c4c4c4;
}
.change_location span {
  position: absolute; right: 28px;
  text-align: center; font-size: 15px;
  line-height: 38px;
}
.korea_flag {
  position: absolute; top: 7px; left: 42px;
  width: 34px; height: 24px;
  background-image: url('../../img/footbox/korea_flag.png');
}
.change_location a:hover { background-color: #fff; }

/* 판도라 스토어 찾기 부분 ------------------------------------------------------- */
.search_store_area {
  position: relative;
  width: 300px; height: 100%;
  margin-left: 77px;
}
.search_store_area input {
  width: 300px; height: 38px;
  margin-top: 7px;
  border-radius: 5px;
  border: 0;
  text-indent: 10px;
  background-color: #c4c4c4;
}
.search_store_area button {
  position: absolute; bottom: 6px; right: 0;
  width: 40px; height: 38px;
  border-radius: 5px;
}
.search_store_area i {
  font-size: 22px;
}
.search_store_area input:hover { background-color: #fff; }
.search_store_area input:focus { background-color: #fff; }

.search_store_area button:hover { background-color: #fff; }

/* 푸터 맨 하단 서브 네비게이션 바 ---------------------------------------------------- */
.sub_fnb {
  width: 1262px; height: 35px;
  margin: auto;
}
.sub_fnb ul {
  width: 100%; height: 100%;
}
.sub_fnb li {
  float: left;
  width: auto; height: 100%;
  margin-right: 58px; padding-right: 58px;
  line-height: 35px; font-size: 1rem;
  border-right: 1px solid #fff;
  color: #fff;
}
.sub_fnb li:last-child {
  margin-right: 0; padding-right: 0;
  border: 0;
}