/* main.css */
:root { max-width: 1440px; margin: auto; }

#headBox {
  width: 100%; height: 10.3125rem;
}
#navBox {
  position: relative; top: 30px;
  width: 1260px; height: 134px;
  max-width: 1440px;
  margin: auto;
}
/* 로고 ----------------------------------------------------------------------- */
h1 {
  position: absolute;
  top: 0; left: 0; right: 0;
  width: 340px; height: 60px;
  margin: auto; padding-top: 30px;
  background-image: url(../../img/headbox/pandora_logo.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
h1 a {
  display: block;
  width: 100%; height: 100%;
}

/* unb ------------------------------------------------------------------------ */
.unb {
  width: 1260px; height: 0;
  margin: auto;
}
.unb > ul {
  width: 100%; height: 100%;
}
.unb li {
  width: 60px; height: 60px;
  margin-right: 20px;
  font-size: 42px; text-align: center;
  line-height: 60px;
}
.unb li:nth-child(2) { line-height: 55px; }
.unb li:last-child { margin-right: 0; }
.right_side_unb { float: right; }
.shop_now { float: left; }

.unb li > a,
.unb li > button {
  display: block;
  width: 100%; height: 100%;
}
.unb li:hover { background-color: #eee; }

/* gnb ------------------------------------------------------------------------ */
.gnb {
  position: absolute; z-index: 100;
  top: 74px; left: 0; right: 0;
  width: 780px; height: auto;
  margin: auto;
}
.gnb li {
  float: left;
  width: auto; height: 100%;
  margin-right: 50px;
  line-height: 60px;
  background-color: #fff;
}
.gnb li:last-child { margin-right: 0; }
.gnb li > a {
  display: block;
  width: 100%; height: 100%;
}

.gnb li:hover a { background-color: #eee }

/* gnb accordion menu --------------------------------------------------------- */
/* 공통 적용 css -------------------------------------------------------------- */
.accordion_area {
  position: absolute; left: 50%;
  width: 1000px; height: auto;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  transform: translateX(-50%);
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
}
.accor_img {
  float: right;
  width: 426px; height: 248px;
  margin-right: 60px;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.accordion_area li {
  display: block;
  width: 30%; height: 40px;
  margin: 0;
  font-size: 15px; line-height: 40px;
}
.accordion_area ul > li:last-child { padding-bottom: 50px; }
.accordion_area ul > li a {
  display: block;
  width: 100%; height: 100%;
  font-weight: 100;
}
.accor_wrap {
  display: none;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
  width: 100%; height: 100%;
}
.on { display: flex; }

.accor_wrap ul:first-of-type li { padding-left: 60px; }

.accor_inner { display: flex; flex-direction: column; }
.accor_inner li { width: 100%; height: 40px; }

/* 신제품 출시 아코디언 ------------------------------------------------------------ */
.new_accor_img { background-image: url('../../img/headbox/new_accor_img.jpg'); }

/* 참 아코디언 -------------------------------------------------------------------- */
.charm_accor_img { background-image: url('../../img/headbox/charm_accor_img.jpg'); }

/* 반지 아코디언 ------------------------------------------------------------------ */
.ring_accor_img { background-image: url('../../img/headbox/ring_accor_img.jpg'); }

/* 팔찌 아코디언 ------------------------------------------------------------------ */
.bangle_accor_img { background-image: url('../../img/headbox/bangle_accor_img.jpg'); }

/* 목걸이 아코디언 ---------------------------------------------------------------- */
.necklace_accor_img { background-image: url('../../img/headbox/necklace_accor_img.jpg'); }

/* 귀걸이 아코디언 ---------------------------------------------------------------- */
.earring_accor_img { background-image: url('../../img/headbox/earring_accor_img.jpg'); }

/* 컬렉션 아코디언 ---------------------------------------------------------------- */
.collection_accor li {
  font-size: 14px;
}
.collection_accor_img { 
  width: 400px;
  background-image: url('../../img/headbox/collection_accor_img.jpg');
}

/* 선물 아코디언 ------------------------------------------------------------------ */
.gift_accor li { font-size: 14px; }
.gift_accor_img {
  width: 400px;
  background-image: url('../../img/headbox/gift_accor_img.jpg'); 
}

/* 유니버스 아코디언 -------------------------------------------------------------- */
.universe_accor li { font-size: 14px; }
.universe_accor_img {
  margin-bottom: 50px;
  background-image: url('../../img/headbox/universe_accor_img.jpg'); 
}

/* 검색바 --------------------------------------------------------------------- */
.total_search {
  position: absolute;
  bottom: 4px; right: 20px;
  width: 50px; height: 50px;
  font-size: 30px; line-height: 50px;
}

/* ------------------------------------------------------------------------------------------- */
#slideBox {
  position: relative;
  left: 50%;
  width: 100vw; height: 60vh;
  margin: auto;
  transform: translateX(-50%);
  /* max-width: 1920px; height: 50vh; */
}
/* 슬라이드 광고 이미지 부분 ----------------------------------------------------- */
.banner_img {
  width: 100%; height: 100%;
  margin: auto;
  background-image: url(../../img/slidebox/main_banner_01.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.banner_img a {
  display: block;
  width: 100%; height: 100%;
}

/* 슬라이드 광고 배너 버튼 ------------------------------------------------------ */
.slide_btn_area {
  position: absolute;
  top: 45%; left: 50%;
  width: 80%; height: 0;
  background-color: #ddd;
  transform: translateX(-50%);
}
.slide_btn_area button {
  width: 50px; height: 70px;
  background-image: url(../../img/slidebox/left_arrow.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 60%;
}
.next_btn { float: right; transform: rotate(180deg); }
.slide_btn_area button:hover { background-color: #E29391; }
.slide_btn_area button:focus { outline: 3px solid #E29391; }

/* 슬라이드 광고 인디케이터 ------------------------------------------------------ */
.slide_indicator {
  position: absolute;
  bottom: 20px; left: 0; right: 0;
  width: 120px; height: 20px;
  margin: auto;
}
.slide_indicator ul {
  width: 100%; height: 100%;
}
.slide_indicator li {
  float: left;
  width: 20px; height: 100%;
  margin-right: 30px;
  border-radius: 20px;
  background-color: #fff;
}
.slide_indicator li:last-child { margin-right: 0; }
.slide_indicator li.on { background-color: #757575; }

.slide_indicator li a {
  display: block;
  width: 100%; height: 100%;
}
.slide_indicator li:hover { background-color: #E98987; }

/* ------------------------------------------------------------------------------------------- */
#newBox {
  position: relative;
  width: 100%; height: 72rem;
}

/* 신상품 설명글 파트 --------------------------------------------------------------- */
.contents_area {
  width: 780px; height: 124px;
  margin: auto; padding-top: 100px;
  text-align: center; 
}
.contents_area h2 {
  width: 100%; height: 56px;
  font-size: 36px; font-family: 'Abril Fatface', cursive;
  line-height: 56px; letter-spacing: 4px;
  text-transform: uppercase;
}
.contents_area p {
  width: 100%; height: 68px;
  padding-top: 7px; box-sizing: border-box;
  font-size: 18px; line-height: 26px;
  background-color: #fff;
}

/* 뉴박스 서브 이미지 박스 --------------------------------------------------------- */
.sub_contents_box {
  position: absolute;
  top: 350px; left: 310px;
  width: 240px; height: 170px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}
.sub_contents_area {
  width: auto; height: 106px;
  margin: auto; margin-top: 32px;
  text-align: center;
}
.sub_contents_area h3 {
  width: auto; height: auto;
  font-size: 25px; font-family: 'Abril Fatface', cursive;
  line-height: 34px; letter-spacing: 2px;
  text-transform: uppercase;
}
.sub_contents_area p {
  width: auto; height: auto;
  font-size: 15px;
  margin-top: 5px; margin-bottom: 25px;
}
.sub_contents_area a {
  display: block;
  width: 62px; height: 20px;
  margin-left: 89px;
  font-size: 13px;
}
.sub_contents_area a:hover { background-color: #ddd; }
.new_product_img {
  width: 940px; height: 370px;
  margin: auto; margin-top: 25px; margin-bottom: 62px;
  background-image: url(../../img/newbox/new_product_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* 뉴박스 제품 좌우 버튼 파트 ------------------------------------------------------ */
.newbox_btn_area {
  position: absolute;
  top: 770px; left: 0; right: 0;
  width: 1320px; height: 60px;
  margin: auto;
  background-color: #fcf;
}
.newbox_btn_area button {
  width: 60px; height: 60px;
  background-color: #fff;
}

/* 제품 모달 리스트 --------------------------------------------------------------- */
.product_modal_list {
  width: 1260px; height: 290px;
  margin: auto;
  background-color: #ccc;
}
.product_modal_list ul {
  width: 100%; height: 100%;
}
.product_modal_list li {
  float: left;
  width: 236px; height: 290px;
  margin-right: 20px;
  background-color: #666;
}
.product_modal_list li:last-child { margin-right: 0; }

/* ------------------------------------------------------------------------------------------- */
#subBox {
  position: relative; left: 50%;
  width: 100vw; height: 12vw;
  transform: translateX(-50%);
}
/* 서브박스 콘텐츠 관련 부분 ---------------------------------------------------------- */
.subbox_contents_area {
  position: absolute; top: 50%; left: 50%;
  width: 380px; height: 94px;
  margin: auto;
  text-align: center;
  transform: translate(-50%, -50%);
}
.subbox_contents_area h2 {
  width: auto; height: auto;
  margin-bottom: 15px;
  font-size: 25px; font-family: 'Abril Fatface', cursive;
  line-height: 34px; letter-spacing: 2px;
}
.subbox_contents_area span {
  text-transform: uppercase;
}
.subbox_contents_area a {
  display: block;
  width: 160px; height: 45px;
  margin-left: 100px;
  line-height: 45px;
  border: 1px solid #171717;
  border-radius: 6px;
}

.subbox_contents_area a:hover { background-color: #ccc; }
.subbox_contents_area a:focus { background-color: #ddd; }

/* 서브박스 이미지 관련 부분 --------------------------------------------------------- */
#subBox > div {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.sub_bg {
  position: absolute; z-index: -1;
  top: 0; right: 0;
  width: 90%; height: 100%;
  background-image: url(../../img/subbox/subbox_background_img.png);
  opacity: 0.5;
}
.sub_img {
  position: absolute;
  width: 25%; height: 90%;
  bottom: 0; left: 5%;
  background-image: url(../../img/subbox/subbox_img.png);
  box-shadow: 10px 10px 4px rgba(0,0,0,0.25);
}

/* ------------------------------------------------------------------------------------------- */
#signatureBox {
  position: relative;
  width: 100%; height: 46rem;
}
.signature_contents_area {
  position: absolute;
  top: 9.5rem; left: 170px;
  width: 410px; height: 365px;
}
.signature_contents_area h2 {
  width: 380px; height: auto;
  margin-bottom: 20px;
  font-size: 36px; font-family: 'Abril Fatface', cursive;
  line-height: 48px; letter-spacing: 3px;
}
.signature_contents_area p {
  width: 410px; height: 100px;
  margin-bottom: 100px;
  font-size: 18px; line-height: 26px;
}
.signature_contents_area a {
  display: block;
  width: 200px; height: 45px;
  line-height: 45px; text-align: center;
  border: 1px solid #171717;
  border-radius: 8px;
  background-color: #fff;
}

.signature_contents_area a:hover { background-color: #E98987; color: #fff; }
.signature_contents_area a:focus { outline: 5px solid #E98987; background-color: #eee; }

/* 시그니처 박스 이미지 관련 부분 -------------------------------------------------- */
#signatureBox > div {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.point_color_bg {
  position: absolute; z-index: -1;
  bottom: 0; left: 50%;
  width: 100vw; height: 335px;
  background-color: #FFE3E3;
  transform: translateX(-50%);
}
.necklace_img {
  position: absolute;
  top: 9.5rem; right: 410px;
  width: 380px; height: 460px;
  margin-right: 20px;
  background-image: url(../../img/signaturebox/custom_img_01.png);
}
.bangle_img {
  position: absolute;
  top: 9.5rem; right: 90px;
  width: 300px; height: 365px;
  background-image: url(../../img/signaturebox/custom_img_02.png);
}

/* ------------------------------------------------------------------------------------------- */
#collaboBox {
  position: relative;
  width: 100%; height: 50rem;
}
.collabo_contents_area {
  width: 780px; height: 124px;
  padding-top: 120px; margin: auto;
  text-align: center;
}
.collabo_contents_area h2 {
  width: 100%; height: 56px;
  font-size: 36px; font-family: 'Abril Fatface', cursive;
  line-height: 56px; letter-spacing: 4px;
  text-transform: uppercase;
}
.collabo_contents_area p {
  width: 100%; height: 68px;
  padding-top: 7px; box-sizing: border-box;
  font-size: 18px; line-height: 26px;
}

/* 콜라보 박스 버튼 영역 ---------------------------------------------------------- */
.collabo_btn_area {
  position: absolute;
  top: 470px; left: 0; right: 0;
  width: 1180px; height: 0;
  margin: auto;
}
.collabo_btn_area button {
  width: 40px; height: 60px;
  background-image: url(../../img/collabobox/white_arrow.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 60%;
}
.collabo_btn_area button:hover { background-color: rgba(255,255,255,0.25); }
.collabo_btn_area button:focus { background-color: rgba(255,255,255,0.25); }


/* 콜라보 박스 인디케이터 영역 ----------------------------------------------------- */
.collabo_indicator {
  position: absolute;
  bottom: 88px; right: 90px;
  width: 320px; height: 40px;
  border-radius: 20px;
  background-color: #fff;
}
.collabo_indicator ul {
  width: 227px; height: 22px;
  margin-top: 9px; margin-left: 14px;
}
.collabo_indicator li {
  float: left;
  width: 22px; height: 100%;
  margin-right: 27px;
  border-radius: 20px;
  background-color: #c4c4c4;
}
.collabo_indicator li a {
  display: block;
  width: 100%; height: 100%;
}
.collabo_indicator li:last-child { margin-right: 0; }
.collabo_indicator li.on {
  width: 80px;
  background-color: #ffc2ca;
}

.collabo_indicator p {
  float: right;
  width: 35px; height: 100%;
  padding-right: 20px;
  text-align: right;
}

.collabo_indicator li:hover { background-color: #888;}

/* 콜라보 박스 이미지 영역 ---------------------------------------------------------- */
.collabo_img {
  width: 1300px; height: 450px;
  margin: auto; margin-top: 30px;
  background-image: url(../../img/collabobox/collaboration_img_01.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}


/* ------------------------------------------------------------------------------------------- */
#footBox {
  width: 100%; height: 32.125rem;
  background-color: #505050;
}
.footer_upper_list {
  width: 1260px; height: 40px;
  margin: auto; margin-bottom: 20px;
  padding-top: 44px;
  border-bottom: 1px solid #fff;
  /* background-color: #fff; */
}
.footer_upper_list h2 {
  float: right;
  width: 140px; height: 100%;
  background-image: url(../../img/footbox/sub_logo_white.png);
  background-repeat: no-repeat;
}
.fnb {
  float: left;
  width: 542px; height: 100%;
}
.fnb ul {
  width: 100%; height: 100%;
}
.fnb li {
  float: left;
  width: auto; height: 100%;
  margin-right: 77px;
  line-height: 40px; color: #fff;
}
.fnb li:last-child { margin-right: 0; }
.fnb li a {
  display: block;
  width: 100%; height: 100%;
}
.info_area {
  width: 322px; height: 110px;
  padding-left: 88px;
}
.info_area p {
  width: 100%; height: 66px;
  margin-bottom: 9px;
  font-size: 15px; line-height: 22px;
  font-weight: 100;
  color: #fff;
}
.info_area dl {
  width: 196px; height: 30px;
  font-size: 20px; line-height: 30px;
  color: #fff;
}
.info_area dl dt {
  float: left;
}
.info_area dl dd {
  float: right;
}
.footer_middle_area {
  width: 1262px; height: 88px;
  margin: auto; margin-top: 74px;
  margin-bottom: 67px;
}
.footer_middle_area ul {
  width: 100%; height: 100%;
  padding-top: 8px; box-sizing: border-box;
}
.footer_middle_area li {
  float: left;
  margin-right: 0;
}
.footer_middle_area li h3 {
  width: auto; height: 28px;
  font-size: 20px; font-family: 'Abril Fatface', cursive;
  line-height: 28px; letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
/* .pandora_icon {
  float: left;
  width: 52px; height: 68px;
  background-image: url(../../img/footbox/pandora_icon.png);
} */
.sns_area {
  width: 388px; height: 100%;
  border-right: 1px solid #fff;
}
.sns_list li {
  width: 38px; height: 38px;
  margin-right: 22px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.sns_list li a {
  display: block;
  width: 100%; height: 100%;
}
.sns_list li:nth-child(1) { background-image: url(../../img/footbox/facebook.png); }
.sns_list li:nth-child(2) { background-image: url(../../img/footbox/youtube.png); }
.sns_list li:nth-child(3) { background-image: url(../../img/footbox/pinterest.png); }
.sns_list li:nth-child(4) { margin-right: 0; background-image: url(../../img/footbox/instagram.png); }

.change_location_area {
  width: 400px; height: 100%;
  margin-left: 87px;
  border-right: 1px solid #fff;
}
.footer_middle_area li select {
  width: 232px; height: 38px;
  margin-top: 7px;
  border-radius: 5px;
  text-align: center; font-size: 15px;
  background-color: #c4c4c4;
}
.search_store_area {
  width: 300px; height: 100%;
  margin-left: 77px;
}
.sub_fnb {
  width: 1262px; height: 35px;
  margin: auto;
}
.sub_fnb ul {
  width: 100%; height: 100%;
}
.sub_fnb li {
  float: left;
  width: auto; height: 100%;
  margin-right: 58px; padding-right: 58px;
  line-height: 35px; font-size: 1rem;
  border-right: 1px solid #fff;
  color: #fff;
}
.sub_fnb li:last-child {
  margin-right: 0; padding-right: 0;
  border: 0;
}